@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    int count = 1;
}
<h2>Hakkımızda</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Başlık</th>
            <th scope="col">Alt Başlık</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Tecrübe Yılı</th>
            <th scope="col">Şef Sayısı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@item.Title</td>
                <td>@item.Subtitle</td>
                <td>@item.Description</td>
                <td>@item.YearsOfExperience</td>
                <td>@item.PopulerMasterChefs</td>
                <td><a asp-action="Update" asp-controller="About" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-success">Güncelle</a></td>
                <td><a asp-action="Delete" asp-controller="About" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-danger">Sil</a></td>
            </tr>
            count++;
        }
        
        
    </tbody>
</table>

<a asp-action="Create" asp-controller="About" asp-area="Admin" class="btn btn-info">Ekle</a>